@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input:focus, input:valid {
  outline: none;
  border: 2px solid #000;
  transition: 100ms;
}

.input:focus ~ label, input:valid ~ label {
  transition: 250ms;
  transform: translateX(-10%) translateY(-60%) scale(0.9);
  background-color: #FFF;
  padding: 0 .2em;
  color: #000;
}

